{% extends "base_generic.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="container justify-content-center" id="app">
    <h1 class="text-center text-info mb-3">学校リスト</h1>
    <div class="row justify-content-end mb-3 col-11">
        <div class="row">
            <a href="{% url 'school' %}" class="btn btn-info">学校を追加</a>
        </div>
    </div>
    {% if results %}
    <table class="table table-hover col-11 mx-auto" >
        <thead>
            <tr>
                <th>学校CD</th>
                <th>学校名</th>
                <th>学校区分</th>
                <th> </th>
                
            </tr>
        </thead>
        <tbody>
            {% for school in results %}
                <tr class = "stretched-link" data-href="">
                    <td>
                        {{ school.school_code }}
                    </td>
                    <td>
                        {{ school.school_name|default_if_none:"" }}
                    </td>
                    <td>
                        {{ school.level_division_name }}
                    </td>
                    <td class="justify-content-center row">
                        {% if request.user.is_staff %}
                            <a href="{%url 'school-detail' code=school.school_code %}" class="btn btn-info mr-2">変更</a>
                        {% endif %}
                        {% if request.user.is_superuser %}
                            <form id="deleteForm" action="{%url 'school-detail' code=school.school_code %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="delete" value="delete">
                                <input type="submit" onclick="return confirm('削除しますか？')" class="btn btn-danger" value="削除"/>
                            </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <h4 class="text-center my-5 text-danger">結果がありません。</h4>
    {% endif %}
    {% include 'attendance/pagination.html' with links=links %}
</div>
{% endblock %}